<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout::head"></head>
<body>
<!-- 전체 페이지를 flexbox 컨테이너로 만듭니다 -->
<div class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg navbar-light border-bottom mb-3"
     style = "background-color: #4e8fea">
    <div class="container-fluid">
        <a class="navbar-brand" style = "color: #ffffff" th:href="@{/}">도서관</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--  오른쪽 메뉴   -->
            <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style = "color: #ffffff" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <!-- 페이지 콘텐츠 -->
    <div class="container flex-grow-1 d-flex" style="margin-top: 30px">

        <!-- 왼쪽 고정 네브바       -->
        <div th:replace="layout::admin"></div>
    </div>
</div>
</body>
</html>