<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout::head"></head>
<style>
    .btn-action {
        font-size: 0.875rem; /* 글자 크기 조정 */
        padding: 0.25rem 0.5rem; /* 패딩 조정 */
    }
</style>
<body>

<!-- 전체 페이지를 flexbox 컨테이너로 만듭니다 -->
<div class="d-flex flex-column min-vh-100">



    <!-- 네비게이션 메뉴 -->
    <nav th:fragment = "navi" class = "navbar navbar-expand-lg navbar-light border-bottom mb-3"
         style = "background-color: #4e8fea">
        <div class = "container-fluid" style = "color: #ffffff">
            <a class = "navbar-brand d-flex align-items-center" style = "color: #ffffff" th:href = "@{/}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white ;transform: ;msFilter:;"><path d="M21 8c-.202 0-4.85.029-9 2.008C7.85 8.029 3.202 8 3 8a1 1 0 0 0-1 1v9.883a1 1 0 0 0 .305.719c.195.188.48.305.729.28l.127-.001c.683 0 4.296.098 8.416 2.025.016.008.034.005.05.011.119.049.244.083.373.083s.254-.034.374-.083c.016-.006.034-.003.05-.011 4.12-1.928 7.733-2.025 8.416-2.025l.127.001c.238.025.533-.092.729-.28.194-.189.304-.449.304-.719V9a1 1 0 0 0-1-1zM4 10.049c1.485.111 4.381.48 7 1.692v7.742c-3-1.175-5.59-1.494-7-1.576v-7.858zm16 7.858c-1.41.082-4 .401-7 1.576v-7.742c2.619-1.212 5.515-1.581 7-1.692v7.858z"></path><circle cx="12" cy="5" r="3"></circle></svg>
                <span style="margin-left: 8px;">도서관</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!--  오른쪽 메뉴   -->
                <ul class = "navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                    <li class = "nav-item my-2" style = "color: #ffffff" sec:authorize = "isAuthenticated()">
                        <span sec:authentication = "name"></span> 님
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" style = "color: #ffffff" sec:authorize = "isAuthenticated()" th:href = "@{/user/logout}">로그아웃</a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" style = "color: #ffffff" sec:authorize = "isAnonymous()"
                           th:href = "@{/user/register}">회원가입</a>
                        <a class = "nav-link" style = "color: #ffffff" sec:authorize = "hasRole('USER')"
                           th:href = "@{/rent-list}">마이페이지</a>
                        <a class = "nav-link" style = "color: #ffffff" sec:authorize = "hasRole('ADMIN')"
                           th:href = "@{/admin/user}">관리자페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 페이지 콘텐츠 -->
    <div class="container flex-grow-1 d-flex" style="margin-top: 30px">

        <!-- 왼쪽 고정 네브바       -->
        <div th:replace="layout::admin"></div>

        <!-- 오른쪽 컨텐츠   -->
        <div class="container my-3 flex-grow-1">


<div class="container">
    <h1 class="text-center my-4">도서 목록</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.isbn}">ISBN</td>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.publisher}">Publisher</td>
            <td th:text="${book.description}">Description</td>
            <td><img th:src="@{${book.image}}" alt="Image" style="width: 50px; height: auto;"></td>
            <td>
                <a th:href="@{/books/edit/{isbn}(isbn=${book.isbn}, page=${currentPage})}" class="btn btn-primary btn-sm btn-action mb-2" onclick="return confirm('수정하시겠습니까?');">수정</a>
                <form th:action="@{/books/delete/{isbn}(isbn=${book.isbn})}" method="post">
                    <input type="hidden" name="currentPage" th:value="${currentPage}" />
                    <button type="submit" class="btn btn-danger btn-sm btn-action" onclick="return confirm('삭제하시겠습니까?');">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 처리 -->
    <div th:if="${paging.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                <a class="page-link" th:href="@{/books/list(page=${paging.number > 1 ? paging.number : 1}, size=${size})}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(1, paging.totalPages)}" class="page-item" th:classappend="${page == paging.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/books/list(page=${page}, size=${size})}" th:text="${page}">1</a>
            </li>
            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                <a class="page-link" th:href="@{/books/list(page=${paging.number + 2 <= paging.totalPages ? paging.number + 2 : paging.totalPages}, size=${size})}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징 끝 -->



</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>