<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<!-- 전체 페이지를 flexbox 컨테이너로 만듭니다 -->
<div class="d-flex flex-column min-vh-100">

    <!-- 메뉴 바   -->
    <nav th:replace="layout::navi"></nav>

    <!--메뉴-->
    <nav th:replace="layout::menu" style="justify-content: center"></nav>

    <!-- 페이지 콘텐츠 -->
    <div class="container flex-grow-1 d-flex" style="margin-top: 100px">

<div class="container my-3">
    <!-- 여기부터 시작 -->
    <div class="my-3 border-bottom">
        <div>
            <h4>로그인</h4>
        </div>
    </div>
    <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">E-mail 또는 비밀번호를 확인해 주세요.</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" name="email" id="email" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-sm btn-outline-dark float-end">로그인</button>
    </form>

</div>
    </div>
</div>
</body>
</html>
