<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment = "head">
        <meta charset = "UTF-8"/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Bootstrap CSS -->
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/bootstrap.min.css}"/>
        <!-- CSS -->
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/style.css}"/>
        <link rel="icon" type="image/png" th:href="@{/images/book.png}"/>
        <title>도서관</title>
        
        <!-- Bootstrap js  -->
        <script defer th:src = "@{/js/bootstrap.bundle.min.js}"></script>
        <!--    <script th:src="@{/menu.js}"</script>-->
    </head>
    <body>
        <!-- th:fragment="이름" 으로 공통 태그부분 작성 -->
        <!-- 모든 에러메세지 표시  -->
        <div th:fragment = "formErrors" class = "alert alert-danger" role = "alert" th:if = "${#fields.hasAnyErrors()}">
            <div th:each = "err : ${#fields.allErrors()}" th:text = "${err}"/>
        </div>


        <!-- 네비게이션 메뉴 -->
        <nav th:fragment = "navi" class = "navbar navbar-expand-lg navbar-light border-bottom mb-3"
             style = "background-color: #4e8fea">
            <div class = "container-fluid" style = "color: #ffffff">
                <a class = "navbar-brand d-flex align-items-center" style = "color: #ffffff" th:href = "@{/}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white ;transform: ;msFilter:;"><path d="M21 8c-.202 0-4.85.029-9 2.008C7.85 8.029 3.202 8 3 8a1 1 0 0 0-1 1v9.883a1 1 0 0 0 .305.719c.195.188.48.305.729.28l.127-.001c.683 0 4.296.098 8.416 2.025.016.008.034.005.05.011.119.049.244.083.373.083s.254-.034.374-.083c.016-.006.034-.003.05-.011 4.12-1.928 7.733-2.025 8.416-2.025l.127.001c.238.025.533-.092.729-.28.194-.189.304-.449.304-.719V9a1 1 0 0 0-1-1zM4 10.049c1.485.111 4.381.48 7 1.692v7.742c-3-1.175-5.59-1.494-7-1.576v-7.858zm16 7.858c-1.41.082-4 .401-7 1.576v-7.742c2.619-1.212 5.515-1.581 7-1.692v7.858z"></path><circle cx="12" cy="5" r="3"></circle></svg>
                    <span style="margin-left: 8px;">도서관</span>
                </a>
                <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse"
                        data-bs-target = "#navbarSupportedContent"
                        aria-controls = "navbarSupportedContent" aria-expanded = "false"
                        aria-label = "Toggle navigation">
                    <span class = "navbar-toggler-icon"></span>
                </button>
                <div class = "collapse navbar-collapse" id = "navbarSupportedContent">

                    <!--  오른쪽 메뉴   -->
                    <ul class = "navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                        <li class = "nav-item my-2" sec:authorize = "isAuthenticated()">
                            <span sec:authentication = "name"></span> 님
                            <!--<span sec:authentication = "principal.authorities"></span>-->
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" style = "color: #ffffff" sec:authorize = "isAnonymous()"
                               th:href = "@{/user/login}">로그인</a>
                            <a class = "nav-link" style = "color: #ffffff" sec:authorize = "isAuthenticated()"
                               th:href = "@{/user/logout}">로그아웃</a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" style = "color: #ffffff" sec:authorize = "isAnonymous()"
                               th:href = "@{/user/register}">회원가입</a>
                            <a class = "nav-link" style = "color: #ffffff" sec:authorize = "hasRole('USER')"
                               th:href = "@{/rent-list}">마이페이지</a>
                            <a class = "nav-link" style = "color: #ffffff" sec:authorize = "hasRole('ADMIN')"
                               th:href = "@{/admin/user}">관리자페이지</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 메뉴-->
        <div class = "container2">
            <nav th:fragment = "menu" class = "navbar navbar-light mb-3 " style = "justify-content: center">

                <ul class = "main-menu">
                    <div class = "dropdown">
                        <h5 style = "font-weight: 700" onclick = "location.href='/books/search'; return false;">
                            도서검색</h5>
                        <!--            <ul class="dropdown-menu">-->
                        <!--                <div >도서 검색</div>-->
                        <!--            </ul>-->
                    </div>
                    <div class = "dropdown">
                        <h5 style = "font-weight: 700">이용 안내</h5>
                        <ul class = "dropdown-menu">
                            <div onclick = "location.href='/guide/time'; return false;">이용 시간</div>
                            <div onclick = "location.href='/guide/data'; return false;">자료 이용</div>
                        </ul>
                    </div>
                    <div class = "dropdown">
                        <h5 style = "font-weight: 700">질문게시판</h5>
                        <ul class = "dropdown-menu">
                            <div onclick = "location.href='/question/list'; return false;">묻고 답하기</div>
                            <div onclick = "location.href='/faq'; return false;">자주하는 질문</div>
                        </ul>
                    </div>
                </ul>
            </nav>
        </div>

        <!-- 왼쪽 질문게시판 메뉴  -->

        <nav th:fragment = "bar4" class = "navbar-nav me-auto mb-2 mb-lg-0">
            <div class = " border-right" id = "sidebar-wrapper">
                <div class = "sidebar-heading">질문게시판</div>
                <div class = "list-group list-group-flush">
                    <a th:href = "@{/question/list}" class = "list-group-item list-group-item-action ">문고 답하기</a>
                    <a th:href = "@{/faq}" class = "list-group-item list-group-item-action ">자주하는 질문</a>
                </div>
            </div>
        </nav>

        <!-- 왼쪽 이용 안내 메뉴-->
        <nav th:fragment = "bar3" class = "navbar-nav me-auto mb-2 mb-lg-0">
            <div class = " border-right" id = "sidebar-wrapper">
                <div class = "sidebar-heading">이용 안내</div>
                <div class = "list-group list-group-flush">
                    <a th:href = "@{/guide/time}" class = "list-group-item list-group-item-action ">이용 시간 / 휴관일</a>
                    <a th:href = "@{/guide/data}" class = "list-group-item list-group-item-action ">자료 이용</a>
                </div>
            </div>
        </nav>

        <!-- 마이페이지 왼쪽 메뉴-->
        <nav th:fragment = "my" class = "navbar-nav me-auto mb-2 mb-lg-0">
            <div class = " border-right" id = "sidebar-wrapper">
                <div class = "sidebar-heading">마이 페이지</div>
                <div class = "list-group list-group-flush">
                    <a th:href = "@{/update/__${userID}__}" class = "list-group-item list-group-item-action">회원정보
                        수정</a>
                    <a th:href = "@{/rent-list}" class = "list-group-item list-group-item-action ">대여 조회</a>
                    <a th:href = "@{/reservation-list}" class = "list-group-item list-group-item-action ">예약 조회</a>
                    <a th:href = "@{/question/user/mypage/question}" class = "list-group-item list-group-item-action ">나의
                                                                                                                       질문</a>

                    <a th:href = "@{/user/delete}" class = "list-group-item list-group-item-action ">계정 탈퇴</a>
                </div>
            </div>
        </nav>

        <!-- 관리자 페이지 왼쪽 메뉴 -->
        <nav th:fragment = "admin" class = "navbar-nav me-auto mb-2 mb-lg-0">
            <div class = "border-right" id = "sidebar-wrapper">
                <div class = "sidebar-heading">관리자 페이지</div>
                <div class = "list-group list-group-flush">
                    <a th:href = "@{/admin/user}" class = "list-group-item list-group-item-action">회원 관리</a>
                    <a th:href = "@{/admin/rents}" class = "list-group-item list-group-item-action">대출 관리</a>
                    <a th:href = "@{/admin/reservations}" class = "list-group-item list-group-item-action">예약 관리</a>
                    <a th:href = "@{/books/list}" class = "list-group-item list-group-item-action">도서 수정/삭제</a>
                    <a th:href = "@{/books/create}" class = "list-group-item list-group-item-action">도서 등록</a>
                </div>
            </div>
        </nav>


        <!-- footer -->
        <div th:fragment = "footer">
            <footer class = "footer mt-auto py-3 bg-light">
                <div class = "container">
                    <span class = "text-muted">도서관 부산광역시 부산진구 중앙대로 708
                    <br> 이용시간 평일: 09:00 ~ 18:00/22:00 주말: 09:00 ~ 18:00</span>
                </div>
            </footer>
        </div>
    </body>
</html>